/*
* Дефолтные стили
*/

@charset 'UTF-8';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
  color: #000;
}

/* Формы */
input, textarea, button {
  outline: none;
  font-family: $f_Helvetica;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Без разрывов в многострочных ссылках */
a {
  padding-top: .2em;
}
