.job{
  padding: 41px 29px 26px;
  clear: both;
  @media (max-width : 767px) {
    padding: 41px 15px 26px;
  }
  &__item{
    position: relative;
    display: inline-block;
    margin: 0 25px 13px 0;
  }
  &__position, &__company{
    font-size: 16px;
    line-height: 21px;
  }
  &__position{
   display: inline-block;
   @media (max-width : 480px) {
     width: 100%;
   }
  }
  &__heading{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
  }
  &__terms{
    font-size: 11px;
    line-height: 21px;
    opacity: 0.5;
  }
}