@import 'variables.css';

@import 'default.css';

@import 'typo.css';

@import 'person.css';

@import 'link.css';

@import 'project.css';

@import 'job.css';
/*
* Основные стили
*/

body {
  font-family: $f_Helvetica;
  background: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 20px;
}
