.link{
  padding: 18px 29px 0;
  @media (max-width : 767px) {
    padding: 18px 15px 0;
  }
  &__item{
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    &--mail{
     padding: 0 0 0 22px;
     background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='13' viewBox='0 0 17 13' fill='%231032FD'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M16.829 1.829l-.658-.658-6.232 6.232a2.037 2.037 0 0 1-2.878 0L.829 1.171l-.658.658 4.653 4.653-4.653 4.654.658.657L5.482 7.14l.921.921c.56.56 1.305.869 2.097.869s1.537-.309 2.097-.869l.921-.921 4.653 4.653.658-.657-4.654-4.654 4.654-4.653'/%3E%3Cpath d='M15.5 13h-14C.673 13 0 12.327 0 11.5v-10C0 .673.673 0 1.5 0h14c.827 0 1.5.673 1.5 1.5v10c0 .827-.673 1.5-1.5 1.5zM1.5 1a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h14a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5h-14z'/%3E%3C/g%3E%3C/svg%3E") no-repeat 0 3px;
    }
  }
}