.person{
  padding: 20px 29px 0;
  @media (max-width : 767px) {
    padding: 20px 15px 0;
  }
  &__title{
    margin-top: 9px;
    font-size: 20px;
    line-height: 24px;
    max-width: 337px;
    font-weight: 700;
  }
  &__info{
    margin-top: 19px;
    font-size: 16px;
    line-height: 21px;
    max-width: 609px;
  }
}