.project{
  padding: 43px 0 0 0;
  &__item{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 44px 29px 51px;
    min-height: 210px;
    @media (max-width : 991px) {
      width: 100%;
      min-height: 0;
    }
    @media (max-width : 767px) {
      padding: 20px 15px 25px;
    }
    &--project1{
      background: #F9CF33 url(../img/slice3.png) no-repeat 11px 8px;
    }
    &--project2{
      background: #E9EAD6 url(../img/slice2.png) no-repeat 11px 3px;
    }
    &--project3{
      background: #48A9A4 url(../img/slice1.png) no-repeat 3px 4px;
    }
    &--project4{
      background: #7ED321;
    }
    @media (min-width : 992px) {
      &:hover {
        transform: scale(1.02, 1.095);
        transition: all .5s;

        .project__title {
          color: red;
        }
      }
    }
  }
  &__title{
    font-size: 30px;
    line-height: 21px;
    font-weight: 700;
  }
  &__description{
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 19px;
    max-width: 418px;
    @media (max-width : 767px) {
      max-width: 90%;
    }
  }
}



