<head>
  <title>@@title</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="assets/img/favicon.ico"/>
</head>
