<div class="job">
  <h2 class="job__heading">Места работы</h2>
  <div class="job__item">
    <div class="job__terms">С апреля 2016</div>
    <div class="job__position">Технический директор
      <a class="job__company" href="#">Тинькофф-журнала</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Ноябрь 2015-апрель 2016</div>
    <div class="job__position">Дизайнер интерфейса
      <a class="job__company" href="#">в Ultimate Guitar</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">С мая 2015</div>
    <div class="job__position">Основатель и технический директор
      <a class="job__company" href="#">Кодельной</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Май-июнь 2015</div>
    <div class="job__position">Дизайнер и разработчик интерфейса
      <a class="job__company" href="#">в Проактивити</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Январь-апрель 2015</div>
    <div class="job__position">Техлид и дизайнер
      <a class="job__company" href="#">в Молоке</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Ноябрь 2014 - апрель 2015</div>
    <div class="job__position">Разработчик
      <a class="job__company" href="#">в Нэткэте</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Июнь 2014 - август 2015</div>
    <div class="job__position">Дизайнер и технолог
      <a class="job__company" href="#">на Предприятии высокой культуры</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Ноябрь 2013 - май 2014</div>
    <div class="job__position">Верстальщик
      <a class="job__company" href="#">в Медиапронете</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Июнь-август 2014</div>
    <div class="job__position">Разработчик
      <a class="job__company" href="#">в Аппликатуре</a>
    </div>
  </div>
  <div class="job__item">
    <div class="job__terms">Июнь 2012 - июль 2013</div>
    <div class="job__position">Редактор на телеканале
      <a class="job__company" href="#">Россия</a>
    </div>
  </div>
</div>

