<div class="link">
    <a class="link__item" href="">Заметки</a>
    <a class="link__item" href="">Твитер</a>
    <a class="link__item" href="">Фейсбук</a>
    <a class="link__item link__item--mail" href="mailto:ilya@straykov.ru">ilya@straykov.ru</a>

</div>