<div class="person">
  <img class="person__portrait" src="assets/img/portrait.png" alt=""/>
  <h1 class="person__title">Илья Страйков помогает бизнесу дизайном и разработкой</h1>
  <div class="person__info">
    Работаю техническим директором <a href="#">Гридли</a> и <a href="#">Тинькофф-журнала</a>.
    В 2015 году основал Кодельную. Бывший дизайнер Ultimate Guitar. Живу в Калининграде.
  </div>
</div>