<div class="project">
    <a class="project__item project__item--project1">
        <span class="project__title">Кодельная</span>
        <p class="project__description">В мае 2015 подумал о принципах работы аутсорсной команды, придумал название, собрал команду, руководил разработкой, до сих пор нанимаю разработчиков и участвую в некоторых проектах
        </p>
    </a>
    <a class="project__item project__item--project2">
        <span class="project__title">Тинькофф-журнал</span>
        <p class="project__description">Управляю разработкой лучшего издания о личных финансах на русском языке. Спроектировал интерфейс визуального редактора
        </p>
    </a>
    <a class="project__item project__item--project3">
        <span class="project__title">Институт Бурденко</span>
        <p class="project__description">Спроектировал раздел о научной и диссертационной деятельности сотрудников института. Помог Александру Лысенко с технологиями. Проект сделан на Предприятии
            высокой культуры</p>
    </a>
    <a class="project__item project__item--project4">
        <span class="project__title">Инитум</span>
        <p class="project__description">Шаблон для быстрого старта вёрстки проекта. Используется в проектах Кодельной, Неткэта, Гридли, Предприятия высокой культуры, Майкономи.
        </p>
    </a>
</div>